<div id="show-article">
    <h1 id="show-title">
        <%= @article.title %> 
    </h1>
    <br/>
    <div id="show-body">
        <p>
            <%= @article.body %>
        </p>
    </div>
</div>